footer {
    text-align: center;
    padding: 3px;
    background-image:radial-gradient(white 5%, lightblue ) !important;
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 30px;
}
p {
    text-decoration: none;
    font-size: larger;
    color: black;
    text-transform: capitalize;
}

  